@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$primary-color: #130f40;
$color1: #ff3f34;
$color2: #ffd32a;
$color3: #09d69c;
$color4: #4834d4;
$bgdark: #485460;
$shadowblack100: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadowblack300: 0 5px 15px rgba(0, 0, 0, 0.3);
$black900: #000;
$black400: #555555;
$black100: #f7f7f7;
$black000: #ffffff;
$black-alpha: rgba(0, 0, 0, 0.5);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  background-color: #f5f6fa;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
