@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$primary-color: #130f40;
$color1: #ff3f34;
$color2: #ffd32a;
$color3: #09d69c;
$color4: #4834d4;
$color5: #a55eea;
$bgdark: #485460;
$shadowblack100: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadowblack300: 0 5px 15px rgba(0, 0, 0, 0.3);
$black900: #000;
$black400: #555555;
$black100: #f7f7f7;
$black000: #ffffff;
$black-alpha: rgba(0, 0, 0, 0.5);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-weight: 400;
  background-color: $color4;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-in-out;
  &.dark {
    background-color: rgba($black900, 0.9);
    & .navbar {
      background-color: rgba($bgdark, 0.9);
    }
    & .home {
      background: linear-gradient(200deg, $bgdark 55%, transparent 45%);
      &-text > * {
        color: $black100;
      }
    }
    & .services {
      &-tab {
        &-wrap {
          color: $black900;
        }
      }
      &-item {
        background-color: $bgdark;
        & > *,
        i {
          color: $black000;
        }
        & .icon {
          &::before {
            background-color: rgba($color3, 0.75);
          }
        }
      }
    }

    & .testimonials {
      background: linear-gradient(200deg, transparent 55%, $bgdark 45%);
    }

    & .about {
      background: linear-gradient(200deg, $bgdark 55%, transparent 45%);
    }
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

section {
  width: 100%;
  min-height: 50vh;
}

.navigate {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  background-color: $color1;
  color: $black000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  & i {
    font-size: 1.2rem;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
