@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

$primary-color: #1258eb;
$secondary-color: #d6bcfa;
$shade-color1: #8c9eff;
$shade-color2: #9f7aea;
$black: #090c08;
$white: #f4fffd;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
