.home {
  min-height: 100vh;
  width: 100%;
  padding: 120px 10px 0 10px;
  background: linear-gradient(40deg, $primary-color 60%, $color5 40%);
  position: relative;
  z-index: 1;
  & .effect {
    position: absolute;
    z-index: -1;
    &-1 {
      top: 40%;
      left: 20%;
      color: $color2;
      font-size: 1rem;
      animation: spin 3s linear infinite;
    }
    &-2 {
      top: 20%;
      right: 10%;
      color: $color3;
      font-size: 1rem;
      animation: spin 8s linear infinite;
    }
    &-3 {
      top: 30%;
      left: 50%;
      color: $color1;
      font-size: 1rem;
      animation: bounce 8s linear infinite;
    }
    &-4 {
      bottom: 25%;
      left: 40%;
      color: rgba($black000, 0.8);
      font-size: 1rem;
      animation: spin 8s linear infinite;
    }
  }

  &-text {
    & h1 {
      font-size: 40px;
      font-weight: 700;
      margin: 0 0 20px;
      color: $black000;
      text-transform: uppercase;
      letter-spacing: 1px;
      & span {
        letter-spacing: 2px;
        color: $color2;
      }
    }
    & p {
      font-weight: 400;
      color: $black000;
      letter-spacing: 1px;
      font-family: 'Poppins', sans-serif;
      & span {
        color: $color1;
        font-weight: 600;
      }
    }
  }
  &-btn {
    font-size: 0.8rem;
    & button {
      padding: 7px 34px;
      border-radius: 50px;
      box-shadow: $shadowblack100;
      font-weight: 500;
      letter-spacing: 2px;
      margin-right: 10px;
      color: $black000;
      border: 2px solid $black000;
      transition: all 0.6s ease-in-out;
      &:hover {
        color: $black900;
        background-color: $color2;
        border: 2px solid $color2;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
      }
    }
    & a {
      display: inline-block;
      height: 40px;
      width: 40px;
      position: relative;
      border-radius: 50%;
      margin-left: 10px;
      padding: 20px;
      & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        color: $black000;
      }
      &:nth-of-type(1) {
        background-color: #0652dd;
      }
      &:nth-of-type(2) {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      }
      &:nth-of-type(3) {
        background-color: $black000;
        & i {
          color: $black900;
        }
      }
      &:nth-of-type(4) {
        background-color: $color1;
      }
    }
  }
  &-img {
    position: relative;
    & .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 400px;
      width: 400px;
      border-radius: 50%;
      border: 1px solid rgba($black000, 0.2);
      &::before {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        top: 40px;
        left: 40px;
        border-radius: 50%;
        background-color: rgba($black100, $alpha: 0.3);
        transform-origin: 160px 160px;
        animation: spin 10s linear infinite;
      }
    }
    & img {
      max-width: 250px;
      width: 100%;
      animation: bounce 2s linear infinite;
    }
  }
}
