@media screen and (max-width: 982px) {
  .home {
    & .container > .row {
      flex-flow: column wrap;
      & > * {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .home {
    & .container > .row {
      flex-flow: column wrap;
      & > * {
        margin-bottom: 30px;
      }
    }

    &-img {
      & .circle {
        height: 300px;
        width: 300px;
        &::before {
          content: '';
          top: 30px;
          left: 20px;
          transform-origin: 130px 120px;
        }
      }
    }
  }
}
