.services {
  &-tab {
    &-wrap {
      min-height: 150px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: $shadowblack100;
      color: $black000;
      margin: 10px 15px;
      &:nth-child(1) {
        background-color: $color1;
      }
      &:nth-child(2) {
        background-color: $color2;
      }
      &:nth-child(3) {
        background-color: $color3;
      }
      &:nth-child(4) {
        background-color: $color5;
      }
      & h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 5px 0;
      }
      & p {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
  }

  &-carousel {
    & .owl-dots {
      text-align: center;
      & button.owl-dot {
        display: inline-block;
        height: 7px;
        width: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0 5px;
        &.active {
          background-color: #ffc312;
        }
      }
    }
  }

  &-wrap {
    display: flex;
    justify-content: center;
    &-title {
      text-align: center;
      width: 350px;
      position: relative;
      font-size: 2.8rem;
      color: $black000;
      letter-spacing: 2px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 50px 0;
      font-family: 'Poppins', sans-serif;
      &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 90%;
        border-radius: 20px;
        background-color: #fff;
      }
    }
  }

  &-item {
    min-height: 200px;
    margin: 15px;
    padding: 30px 20px;
    box-shadow: $shadowblack100;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #ffffff;

    &:hover {
      & .icon {
        & img {
          filter: grayscale(0);
        }
        &::before {
          left: 0;
          opacity: 0.5;
        }
      }
      &::before {
        opacity: 0.6;
        left: 10%;
      }
      &::after {
        opacity: 0.6;
        right: 10%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: $color1;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.6s ease-in;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 10%;
      right: 0;
      height: 45px;
      width: 45px;
      background-color: $color2;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.6s ease-in;
    }

    & .icon {
      height: 150px;
      width: 150px;
      text-align: center;
      margin: 0 auto 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        max-width: 110px;
        filter: grayscale(1);
        margin: 0 auto;
        z-index: 2;
        transition: color 0.3s ease-in-out;
      }
      &::before {
        content: '';
        transition: all 0.3s ease-in-out;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: $color5;
        border-radius: 50%;
        top: 0;
        left: 100%;
        opacity: 0;
      }
    }
    & h3 {
      font-size: 21px;
      min-height: 50px;
      color: $black900;
      font-weight: 500;
      text-transform: capitalize;
    }
    & p {
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      padding: 0 5px;
    }
  }
}
