.testimonials {
  min-height: 100vh;
  padding-top: 10vh;
  background: linear-gradient(200deg, transparent 55%, $primary-color 45%);
  &-carousel {
    & .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      background-color: #fff;
    }

    & .owl-dots {
      text-align: center;
      & button.owl-dot {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #fff;
        margin: 16px 5px;
        &.active {
          background-color: $color2;
        }
      }
    }
  }
}
